.project-container {
  height: calc(100vh - 100px); /* Take full height minus navbar */
  overflow: hidden; /* Prevent container from scrolling horizontally */
  position: relative; /* Ensure proper stacking context */
  box-sizing: border-box;
  margin: 0;
  padding: 0 25px; /* Add padding for content */
  overflow-x: hidden; /* Prevent horizontal scrolling */
  overflow-y: auto; /* Allow vertical scrolling */
  position: fixed; /* Position fixed to ensure it scrolls correctly */
  top: 100px; /* Adjust top to account for the navbar height */
  left: 0;
  right: 0;
  z-index: 10; /* Ensure the z-index is lower than the navbar but high enough to be interactive */
  background: linear-gradient(to right, rgb(0, 70, 65), rgb(0, 45, 40));
  text-align: center;
  font-family: 'Futura', sans-serif;

  h1 {
    color: rgba(0, 255, 210, 1.0);
    font-size: 2.5rem;
    margin-bottom: 20px;
  }

  .main-project, .other-projects {
    background-color: rgba(0, 60, 60, 1.0);
    padding: 30px;
    margin: 25px auto;
    border-radius: 10px;
    border: 1px solid #00ffbb;
    box-shadow: 0 0 15px rgba(0, 100, 100, 1);
    width: 80%;
    max-width: 1200px;
  }

  .main-project h2, .other-projects h2 {
    color: rgba(0, 255, 210, 1.0);
    padding: 10px 0;
    font-family: 'Oxygen', sans-serif;
    font-size: 1.8rem;
  }

  .main-project p, .other-projects p {
    color: rgba(0, 210, 160, 1.0);
    font-family: 'Oxygen', sans-serif;
    font-size: 1.2rem;
    margin: 10px 0;
  }

  .project-link {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: rgba(0, 255, 221, 0.896);
    color: rgba(0, 50, 50, 1);
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: rgba(0, 205, 181, 1);
    }
  }

  .project-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 15px;
    box-shadow: 0 0 10px rgba(0, 50, 50, 1);
  }

  .main-project .project-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .main-project .section {
    flex: 1 1 calc(50% - 20px);
    background-color: rgba(0, 45, 40, 1.0);
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 50, 50, 1);
  }

  .other-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .other-projects .project {
    flex: 1 1 calc(50% - 20px);
    background-color: rgba(0, 45, 40, 1.0);
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 50, 50, 1);
    text-align: left;
  }

  @media (max-width: 960px) {
    .main-project .section, .other-projects .project {
      flex: 1 1 calc(100% - 20px);
    }
  }

  @media (max-width: 720px) {
    .main-project .section, .other-projects .project {
      flex: 1 1 100%;
    }
  }
}
