// .project-container {
//   box-sizing: border-box;
//   margin: 0;
//   padding: 0;
//   overflow-x: hidden; /* Prevent horizontal scrolling */
//   overflow-y: scroll; /* Always show vertical scrollbar */
//   width: 100vw; /* Fix the width to account for scrollbar */

//   background: linear-gradient(to right, rgb(0, 70, 65), rgb(0, 45, 40));
//   min-height: 100vh; // Adjust the height as necessary
//   width: 100%;
//   position: absolute;
//   top: 0;
//   left: 0;
//   z-index: -100;
// }

.project-container {
  height: calc(100vh - 100px); /* Take full height minus navbar */
  overflow: hidden; /* Prevent container from scrolling horizontally */
  position: relative; /* Ensure proper stacking context */

  .body-content {
    height: 100%; /* Take the full height */
    overflow: hidden; /* Prevent overflow */
  }

  box-sizing: border-box;
  margin: 0;
  padding: 0 25px; /* Add padding for content */
  overflow-x: hidden; /* Prevent horizontal scrolling */
  overflow-y: auto; /* Allow vertical scrolling */
  position: fixed; /* Position fixed to ensure it scrolls correctly */
  top: 100px; /* Adjust top to account for the navbar height */
  left: 0;
  right: 0;
  z-index: 10; /* Ensure the z-index is lower than the navbar but high enough to be interactive */

  background: linear-gradient(to right, rgb(0, 70, 65), rgb(0, 45, 40));
  text-align: center;
}
