<div class="aboutme-container">
  <div class="background-greenneon-about-me">
    <h2>Languages and Tools</h2>
    <div class="languages-tools">
      <div class="language-tool">
        <img alt="SwiftUI" src="https://developer.apple.com/assets/elements/icons/swiftui/swiftui-96x96_2x.png" />
        <span>SwiftUI</span>
      </div>
      <div class="language-tool">
        <img alt="Ruby" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/ruby/ruby-original.svg" />
        <span>Ruby</span>
      </div>
      <div class="language-tool">
        <img alt="Rails" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/rails/rails-original-wordmark.svg" />
        <span>Rails</span>
      </div>
      <div class="language-tool">
        <img alt="HTML" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-plain.svg" />
        <span>HTML</span>
      </div>
      <div class="language-tool">
        <img alt="CSS" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-plain.svg" />
        <span>CSS</span>
      </div>
      <div class="language-tool">
        <img alt="JavaScript" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-plain.svg" />
        <span>JavaScript</span>
      </div>
      <div class="language-tool">
        <img alt="NodeJS" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-original.svg" />
        <span>NodeJS</span>
      </div>
      <div class="language-tool">
        <img alt="Python" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-plain.svg" />
        <span>Python</span>
      </div>
      <div class="language-tool">
        <img alt="Bash" src="https://cdn3.brettterpstra.com/uploads/2015/02/terminal-longshadow.png" />
        <span>Bash</span>
      </div>
      <div class="language-tool">
        <img alt="PostgreSQL" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/postgresql/postgresql-original.svg" />
        <span>PostgreSQL</span>
      </div>
      <div class="language-tool">
        <img alt="Git" src="https://github.githubassets.com/assets/GitHub-Mark-ea2971cee799.png" />
        <span>Git</span>
      </div>
      <div class="language-tool">
        <img alt="Heroku" src="https://www.vectorlogo.zone/logos/heroku/heroku-icon.svg" />
        <span>Heroku</span>
      </div>
      <div class="language-tool">
        <img alt="Firebase" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/firebase/firebase-original.svg" />
        <span>Firebase</span>
      </div>
      <div class="language-tool">
        <img alt="Google Cloud" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/googlecloud/googlecloud-original.svg" />
        <span>Google Cloud</span>
      </div>
      <div class="language-tool">
        <img alt="Photoshop" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/photoshop/photoshop-original.svg" />
        <span>Photoshop</span>
      </div>
      <div class="language-tool">
        <img alt="Figma" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/figma/figma-original.svg" />
        <span>Figma</span>
      </div>
      <div class="language-tool">
        <img alt="Bootstrap" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/bootstrap/bootstrap-original.svg" />
        <span>Bootstrap</span>
      </div>
      <div class="language-tool">
        <img alt="Postman" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/postman/postman-original.svg" />
        <span>Postman</span>
      </div>
      <div class="language-tool">
        <img alt="Stripe" src="https://images.ctfassets.net/fzn2n1nzq965/HTTOloNPhisV9P4hlMPNA/cacf1bb88b9fc492dfad34378d844280/Stripe_icon_-_square.svg?q=80&w=1082" />
        <span>Stripe</span>
      </div>
      <div class="language-tool">
        <img alt="XCode" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/xcode/xcode-original.svg" />
        <span>XCode</span>
      </div>
<div class="language-tool">
        <img alt="VSCode" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/vscode/vscode-original.svg" />
        <span>VSCode</span>
      </div>
      <div class="language-tool">
        <img alt="ChatGPT" src="https://seeklogo.com/images/C/chatgpt-logo-6E960AECFF-seeklogo.com.png" />
        <span>ChatGPT</span>
      </div>
      <div class="language-tool">
        <img alt="Scrapfly" src="https://avatars.githubusercontent.com/u/54183743?s=200&v=4" />
        <span>Scrapfly</span>
      </div>
    </div>
  </div>
  <div class="background-greenneon-about-me">
    <h1>Welcome to Laurent Lefebvre's Personal Portfolio</h1>
    <div class="horizontal">
      <div class="img-container">
        <%= image_tag 'doggo.jpg', class: 'img-rounded-rectangle', alt: 'Picture of Laurent Lefebvre' %>
      </div>
      <div class="text-content">
        <p class="left-align">
          I am a dynamic professional boasting an impressive blend of academic achievements and hands-on experience in software development and sports business. Graduating from a Web Development Bootcamp and with a Master of Science in Sport Management from the University of San Francisco, as well as a Bachelor of Commerce from McGill University, I have demonstrated exceptional academic prowess alongside a commitment to practical application through diverse professional positions and leadership roles.<br><br>

          With technical skills spanning SwiftUI, Ruby on Rails, HTML, CSS, JavaScript, SQL, Python, and more, I excel in creating innovative solutions. My professional experience as a Fullstack Software Engineer at National Bank of Canada has further strengthened my expertise in building scalable enterprise solutions and working with complex financial systems. My personal coding projects in sports showcase my ability to blend creativity with technical skills, developing applications that serve niche markets with precision and user-centric design. My proficiency in software development is complemented by certifications, including SwiftUI Coding, highlighting my continuous pursuit of learning and excellence.<br><br>

          My leadership and team management skills were honed as President of the USF Sport Marketing Association, where I led initiatives to enhance the organization's digital presence and engage members through meaningful events. My role as a Fan Experience Associate with the LA Kings and involvement in event operations for high-profile events like Bellator MMA, ISA World Games, and LA Sports Council further reflect my versatility and capacity to contribute to diverse teams and projects.<br><br>

          As a former competitive alpine skier and an enthusiast of powerlifting, long-distance running, and adventure sports, I embody a spirit of determination and passion both professionally and personally. My interest in wine, evidenced by a WSET Level 2 Award, along with my ventures into crypto and NFT creation, illustrate a multifaceted individual keen on exploring new frontiers.<br><br>

          My journey is a testament to my adaptability, ambition, and unwavering commitment to excellence, positioning me as a valuable asset to any team or project.
        </p>
        <%= link_to "Check out my Projects now to<br>learn more about my experience!".html_safe, project_path, class: 'light-green-background-button linking' %>
      </div>
    </div>
  </div>
  <div class="background-greenneon small-margin">
    <a href="https://www.linkedin.com/in/laurentlefebvre/" target="_blank" class="social-buttons"><i class="fa-brands fa-linkedin"></i></a>
    <a href="https://www.instagram.com/laurent.d.lefebvre/" target="_blank" class="social-buttons"><i class="fa-brands fa-square-instagram"></i></a>
    <a href="https://github.com/ldlefebvre" target="_blank" class="social-buttons"><i class="fa-brands fa-square-github"></i></a>
    <%# <div class="rectangle-lightgreen"><a href="https://soundcloud.com/llefebvre" target="_blank" class="social-buttons-opp"><i class="fa-brands fa-soundcloud"></i></a></div> %>
  </div>
  <script>
    document.addEventListener('turbo:load', function () {
      function adjustImageSize() {
        const imgContainer = document.querySelector('.img-container');
        const textContent = document.querySelector('.text-content');
        const img = imgContainer.querySelector('img');

        if (textContent && img) {
          const textHeight = textContent.offsetHeight;
          const aspectRatio = img.naturalWidth / img.naturalHeight;
          const newWidth = textHeight * aspectRatio;
          img.style.height = `${textHeight}px`;
          img.style.width = `${newWidth}px`;
        }
      }

      adjustImageSize();
      window.addEventListener('resize', adjustImageSize);
    });
  </script>
</div>
