<div class="education-container">

<h3>Le Wagon (2024)</h3>

<h3>M.S. Sport Management (2023)</h3>

<h3>B.Commerce Major: Finance, Concentration: Accounting (2020)</h3>

<h3>High School (2015)</h3>

<h3>Middle School (2011)</h3>

<h3>Primary School (2008)</h3>

<h3>Elementary School (2004)</h3>

<h3>Kindergarten (2003)</h3>

<h3>Born (1997)</h3>

</div>
