<%# <h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p> %>

<%# <%= video_tag 'homevid.mov', autoplay: true, muted: true, loop: true, id: "myVideo", class: "home-container" %>

<div class="home-container">
  <%= video_tag 'homevid.mov', autoplay: true, muted: true, loop: true, id: "myVideo" %>
</div>
