<div class="project-container">
<div class="background-greenneon">
      <h2>
          iOS App Development
      </h2>
      <p>
          I have been developing a total of three iOS apps.
      </p>
      <h4>
          Exad
      </h4>
      <p>
          Developing a project in the field of Extreme and Adventure Sports to create an experience marketplace and connect sports providers with the public (skills: GitHub, Firebase database, Push Notification, Deep Links, Chat Functionalities, Maps, customized Camera, Business Logo, Figma and Photoshop Designs, personal customized sf symbol, cached images, Logins, Stripe payment platform integration for connected accounts with Node.js and terminal coding skills)
      </p>
      <h4>
          USF Sport Marketing
      </h4>
      <p>
          Developed Software Engineering skills and created a whole iOS application from the concept to publishing it on the Apple Store (used Firebase as a Backend) and made the data dynamic with an MVVM model. The application improved the funnels of the association by keeping users informed about articles, events, giveaways, and the executive roster, the app is fully customizable from the UI so future executives can easily change data
      </p>
      <h4>
          Ripped Utopia
      </h4>
      <p>
          Working on a quick build to showcase my powerlifting training program and save gym Personal Records through progressive overload in the main compound lifts; bench, deadlift, and squat. Practicing my skills with Switfdata, while making both swiftdata (offline database) and firebase (online database) work simulteanously and communicate data interchangeably while a network connection is either on or off
      </p>
  </div>
</div>
