<div id="easyfind-details" class="project-details-section">
  <h2>Easyfind Details</h2>

  <div class="card-section">
    <div class="card">
      <h3>Home Page</h3>
      <div class="image-grid">
        <% (1..2).each do |i| %>
          <div class="image-wrapper">
            <img src="<%= asset_path("project/easyfind/slide 44/#{i}.png") %>" alt="Easyfind Image" class="easyfind-image">
          </div>
        <% end %>
      </div>
      <p>Comes as both a phone and web application, Easy to understand home page with categories to choose, Can Log-in/Sign up to save, favourite and bookmark choices.</p>
    </div>
  </div>

  <div class="card-section">
    <div class="card">
      <h4>API Integrations</h4>
      <div class="image-grid">
        <% (1..6).each do |i| %>
          <div class="image-wrapper">
            <img src="<%= asset_path("project/easyfind/slide 45/#{i}.png") %>" alt="Easyfind Image" class="easyfind-image">
          </div>
        <% end %>
      </div>
      <p>Attractions and Restaurants have an integration with Yelp API, Movies come from the TMDB API for movies and Yelp API for theatres location, Events are linked to data from PredictHQ, Includes MapBox API for geolocation mapping technology for all categories, Hooked to Cloudinary for images and Heroku for Hosting.</p>
    </div>

    <div class="card">
      <h4>Profile Page</h4>
      <div class="image-grid">
        <% (1..3).each do |i| %>
          <div class="image-wrapper">
            <img src="<%= asset_path("project/easyfind/slide 46/#{i}.png") %>" alt="Easyfind Image" class="easyfind-image">
          </div>
        <% end %>
      </div>
      <p>See Accepted Activities for the ones you want to attend, Favourite the ones you prefer, Bookmark the ones you want to save for later.</p>
    </div>
  </div>

  <div class="navigation-buttons">
    <a href="#usf-sport-marketing-details" class="nav-button left-button">← Check USF Sport Marketing Project</a>
    <a href="#exad-details" class="nav-button right-button">Check EXAD Project →</a>
  </div>
</div>
