<div id="easyfind-details" class="project-details-section">
    <h2>EasyFind Details</h2>
    <p>EasyFind is a user-friendly app that helps users locate services and products quickly and efficiently through an intuitive interface and powerful search capabilities.</p>

  </div>

<div id="easyfind-details" class="project-details-section">
  <h2>EasyFind Details</h2>
  <div class="section">
    <h3>Home Page</h3>
    <p>Comes as both a phone and web application, Easy to understand home page with categories to choose, Can Log-in/Sign up to save, favourite and bookmark choices.</p>
  </div>
  <div class="section">
    <h3>API Integrations</h3>
    <p>Attractions and Restaurants have an integration with Yelp API, Movies come from the TMDB API for movies and Yelp API for theatres location, Events are linked to data from PredictHQ, Includes MapBox API for geolocation mapping technology for all categories, Hooked to Cloudinary for images and Heroku for Hosting.</p>
  </div>
  <div class="section">
    <h3>Profile Page</h3>
    <p>See Accepted Activities for the ones you want to attend, Favourite the ones you prefer, Bookmark the ones you want to save for later.</p>
  </div>
  <div class="navigation-buttons">
    <a href="#usf-sport-marketing-details" class="nav-button">← Check USF Sport Marketing Project</a>
    <a href="#exad-details" class="nav-button">Check EXAD Project →</a>
  </div>
</div>
