<div id="usf-sport-marketing-details" class="project-details-section">
  <h2>USF Sport Marketing Details</h2>
  <div class="section">
    <h3>Association Description</h3>
    <p>Welcome screen and quick information about the mission of the association.</p>
  </div>
  <div class="section">
    <h3>Events / Giveaways</h3>
    <p>Executives can easily share networking events, guest speakers, and any other events with members of the association, A section for giveaways is accessible if the executive team decides to find interactive ways to engage with the community.</p>
  </div>
  <div class="section">
    <h3>Articles</h3>
    <p>Articles from sport management students and members of the association can be posted in this section to provide insightful information in the industry.</p>
  </div>
  <div class="section">
    <h3>Team Roster</h3>
    <p>Bio and personalized information on each of the executives of the USF Sport Marketing Association team.</p>
  </div>
  <div class="section">
    <h3>Join / Reach Out</h3>
    <p>This screen provides an easy way to access additional resources provided to members, There is also a direct link to inquire about relevant information through a direct in-app prefilled email communication channel.</p>
  </div>
  <div class="section">
    <h3>Admin Account</h3>
    <p>Executives of the team are provided with a universal login to change the data of the app, The login makes it easy to pass details to future generations of executives and makes the app future-proof.</p>
  </div>
  <div class="section">
    <h3>Fully Modular UI</h3>
    <p>Executives can easily add and remove data from the app given their needs.</p>
  </div>
  <div class="section">
    <h3>Quick Forms to Update Data</h3>
    <p>Forms were created so the executives can pass on all the required information required for executive bio, articles, events and giveaways, The form for each section was specifically customized to fit properly with a flawless UX.</p>
  </div>
  <div class="section">
    <h3>Released on the Apple Store</h3>
    <p>The app is currently posted on the Apple Store and has received very positive feedback from users and members of the association.</p>
  </div>
  <div class="navigation-buttons">
      <a href="#ripped-utopia-details" class="nav-button">← Check Ripped Utopia Project</a>
      <a href="#easyfind-details" class="nav-button">Check EasyFind Project →</a>
    </div>
</div>
