<p>Thank you for sending an email to Laurent Lefebvre. He will review your email promptly and answer promptly if needs be.</p>
<p><strong>Name:</strong> <%= @name %></p>
<p><strong>Email:</strong> <%= @sender_email %></p>
<p><strong>Phone:</strong> <%= @phone %></p>
<p><strong>Message:</strong></p>
<p><%= @message %></p>
