.navbar-web {
  justify-content: center;
  background: linear-gradient(to right, rgb(0, 120, 115), rgb(0, 95, 90));
  color: rgba(176, 255, 235, 1);
  padding-top: 20px;
  height: 100px;
  position: fixed;
  width: 100%;
  // position: fixed;
  // padding-bottom: 30px;
}
.nav-item {
  text-align: center;
  transform: translateY(5px);
  &:hover {
    color: rgba(0, 255, 161, 1);
  }
  h1, h2, h3, h4, h5, h6 {
    font-size: 1.2em;
    // font-weight: 1500;
  }
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
//   transform: translateX(-50px); /* Move only the content slightly to the left */
}

.nav-pic {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 160px;
  margin-left: 40px;
  margin-bottom: 8px;
}

.active {
  color: rgba(0, 255, 161, 1);
  box-shadow: 0 0 8px 2px rgba(0, 255, 180, 0.6), // Outer soft glow
              0 0 10px 2px rgba(0, 255, 180, 0.4); // Additional layer for depth
  scale: 105%;
  padding-top: 10px;
  transform: translateY(-3px);
  border-radius: 10px;
  // transform: translateY(5px);
}

//Left logo
.logo {
  transform: translateY(-5px);
  // margin-right: 0px;
  // margin-left: 30px;
}

.tabs-margin {
  margin-inline: 20px;
}

.innerbox-marging {
  margin-inline: 10px;
}

//Left logo
.logo-link {
  display: inline-block;
  width: 200px; // Adjust based on your actual logo size
  height: 80px; // Adjust based on your actual logo size
  margin-right: 30px;
}

//Left logo
.logo-image {
  width: 80%;
  height: 80%;
  background-image: url('/assets/logo.png'); // Adjust path as necessary
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  margin-top: 8px;
}

.burger-nav-item {
  margin-bottom: 10px; /* Adjust the value as needed */
}

@media (max-width: 1300px) {
  /* For a screen < 960px, this CSS will be read */
  .logo-image {
    background-image: url('/assets/logosquare.png'); // Adjust path as necessary
  }
  .logo-link {
    width: 80px; // Adjust based on your actual logo size
    height: 80px; // Adjust based on your actual logo size
    margin-left: 80px;
    margin-right: 30px;
  }
  .nav-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  .nav-item {
    h1, h2, h3, h4, h5, h6 {
      font-size: 0.95em;
      // font-weight: 1500;
    }
    p {
      font-size: 9px;
    }
  }
  .tabs-margin {
    margin-inline: 15px;
  }

  .innerbox-marging {
    margin-inline: 7.5px;
  }
}

@media (max-width: 1220px) {

  .logo {
    transform: translateY(-2.5px);
  }
  .nav-item {
    h1, h2, h3, h4, h5, h6 {
      font-size: 0.9em;
      // font-weight: 1500;
    }
    p {
      font-size: 8.5px;
    }
  }
  .tabs-margin {
    margin-inline: 15px;
  }

  .innerbox-marging {
    margin-inline: 7.5px;
  }
}

@media (max-width: 1020px) {
  // .navbar-web {
  //   padding-top: 15px;
  //   padding-bottom: 15px;
  // }
  .tabs-margin {
    margin-inline: 10px;
  }

  .innerbox-marging {
    margin-inline: 7.5px;
  }
  .nav-item {
    h1, h2, h3, h4, h5, h6 {
      font-size: 0.8em;
    }
    p {
      font-size: 8px;
    }
  }
}

@media (max-width: 825px) {
  .nav-item {
    h1, h2, h3, h4, h5, h6 {
      font-size: 0.7em;
    }
    p {
      font-size: 6px;
    }
  }

  .tabs-margin {
    margin-inline: 5px;
  }

  .innerbox-marging {
    margin-inline: 5px;
  }

  .navbar-web {
    padding-top: 20px;
  }
  .nav-pic {
    margin-right: 140px;
  }
}

@media (max-width: 740px) {
  /* For a screen < 540px, this CSS will be read */
  .nav-item {
    h1, h2, h3, h4, h5, h6 {
      font-size: 0.6em;
    }
    p {
      font-size: 5px;
    }
  }

  .navbar-web {
    padding-top: 20px;
  }
  .nav-pic {
    margin-right: 120px;
  }

  // .tabs-margin {
  //   margin-inline: 0px;
  // }
}

@media (max-width: 740px) {
  // .logo-link {
  //   margin-left: 10px;
  // }
  // .nav-pic {
  //   margin-right: 40px;
  // }
}

@media (max-width: 575px) {
    .navbar-nav {
      flex-direction: row !important;
      justify-content: center;
      width: 100%;

      display: flex;
      align-items: center;
    }

    .navbar-nav .nav-item {
      text-align: center;
      // margin: 0 10px; /* Adjust spacing between items */
    }
  .logo-link {
    margin-left: 80px;
  }
  .nav-pic {
    margin-right: 110px;
  }
}

@media (max-width: 370px) {
  .navbar-nav {
    flex-direction: row !important;
    justify-content: left;
    width: 100%;

    display: flex;
    align-items: center;
  }
  .logo-link {
    margin-left: 30px;
    margin-right: 0px;
  }
  .nav-pic {
    display: none;
  }
}
